<!--Primera parte de la guia , practica con boton like-->
<!-- <p-button like="Like" icon="pi pi-thumbs-up" iconPos="right"></p-button> -->
<!-- ----------------------------------------------------------------
---------------------------------------------------------------- -->
<!-- selector del componente formulario plantialla 1 -->
<!-- <app-formulario-plantilla1></app-formulario-plantilla1> -->


<div class=" flex justify-content-center aling-items-center h-full">
    <router-outlet></router-outlet>
</div>
