<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header class="header">
      <h1 class="logo">
        <img class="img" src="https://i.pinimg.com/originals/01/ee/fe/01eefe3662a40757d082404a19bce33b.png" alt="logo">
      </h1>
        <h2 class="title">
          Santiago A.
        </h2>
      <div>
        <input type="text" placeholder="buscador">
      </div>
    </header>
    <div class="content">
      <nav class="nav">
        <h2 class="title-nav">
          menu 
        </h2>
        <ul>
          <li><a href="https://www.youtube.com/watch?v=OEi8ox6oppg" target="_blank" class="link"> Venom</a></li>
          <li><a href="https://www.incolmotos-yamaha.com.co/vehiculo/mt09a-sp/20329/" target="_blank" class="link">Yamaha Mt09</a></li>
          <li><a href="https://www.ktm.com/es-co.html" class="link" target="_blank">KTM</a></li>
        </ul>

      </nav>
      <main class="main">
        <p class="parrafo1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quidem labore quae provident beatae animi consectetur totam asperiores aliquid vel? Consequuntur nobis repudiandae aspernatur assumenda laboriosam voluptatibus magni laudantium? Repudiandae?
        </p>
        <p
        class="parrafo2">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed maiores hic error quod ut laudantium, libero quam, quaerat beatae nam et accusamus laboriosam rem architecto ab quasi quas autem quidem?

        </p>
        <table class="tabla">
          <thead class="encabezado">
            <tr>
              <th>Productos</th>
              <th>Existencias</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr class="fila-impar">
              <td>Iphone</td>
              <td>10</td>
              <td>$2'000.000</td>
            </tr>
            <tr class="fila-par">
              <td>Mouse</td>
              <td>100</td>
              <td>$50.000</td>
            </tr>
            <tr class="fila-impar">
              <td>PC Gamer</td>
              <td>2</td>
              <td>$3'000.000</td>
            </tr>
          </tbody>
        </table>
      </main>
    </div>
    <footer class="footer">
      <div class="footer-item">
        HOLA
      </div>
      <div class="footer-item">
        HOLA2
      </div>
      <div class="footer-item">
        HOLA3
      </div>
    </footer>
  </div>
</body>
</html>