<form >
    <div class="card flex justify-content-center">
        <p-card header="Login" card [style]= "{width:'360px'}" >
           
            <div class="field">
                <input type="text"
                pInputTetxt
                formControlName="Usuario"
                class="w-full"
                name="usuario"
                placeholder="Nombre de usuario"
                />
            </div>

            <div class="field">
                <input type="text"
                pInputTetxt
                formControlName="password"
                class="w-full"
                name="password"
                placeholder="Contraseña"
                />
            </div>
        </p-card>
    </div>    
</form>

