*{
    padding: 0;
    margin: 5;
    border: 3px;

}
body{
    background: rgb(42, 117, 187);
}
button{
    background: blue;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header-container{
    width: 100%;
    height: 4.125rem;
    display: flex;
    background: yellow;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .625rem;
    border-radius: .625rem;
}
.imagen{
    background: wheat;
    width: 5rem;
    height: 60%;
    margin: .625rem;
    border: solid black .0625rem;
    border-radius: .5rem;
}
.imagen img{
    height: 100%;
}
.social-container{
    display: flex;
    background: orangered;
    width: 20.375rem;
    align-content: center;
    height: 2.5rem;
    border: solid black 1px;
    margin-right: .625rem; 
    justify-content: flex-end;
    border-radius: .625rem;
}
.opcionesSocial{
    background: wheat;
    display: flex;
    align-items: center;
    margin: .3125rem;
    border-radius: .3125rem;
    width: 30px;
    justify-content: center;
}
.picture{
    background: green;
}
.nav-container{
    background: black;
    width: 100%;
    height: 3.1875rem;
    border-radius: .625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container{
    display: flex;
    background: rgb(78, 78, 221);
    width: 95%;
    height: 55%;
    border-radius: .3rem ;
    justify-content: space-around;
    align-items: center;
}
.buttons{
    background: yellowgreen;
    width: 8.125rem;
    height: 65%;
    border-radius: .125rem;
}
.sliderContent p {
    color: aliceblue;
}
.sliderContent{
    margin: .625rem;
    display: flex;
    background: black;
    height: 15rem;
    border-radius: 1.125rem;
    justify-content: center;
    width: 100%;
}
.featuresContainer{
    width: 100%;
    display: flex;
    background: white;
    border-radius: 1.125rem;
    justify-content: space-around;
    height: 11.875rem;
}
.feates{
    background: black;
    color: antiquewhite;
    margin: 1.25rem;
    width: 12.125rem;
    border-radius: .9375rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.feates p{
    margin-bottom: 10px;
}