<!-- Visualizacion del mensaje usando su selector -->
<!-- <p>formulario plantilla1</p> -->
<!-- -------------------------------------------
--------------------------------------------- -->

<!-- Adicion de los componentes de la guia -->

<div class="card flex justify-content-center">
    <input type="text" pInputText [(ngModel)]="value" placeholder="Nombre de usuario" />
</div>  
<div class="card flex justify-content-center">
    <p-password [(ngModel)]="password" placeholder="Contraseña"></p-password>
</div>      
    


