<form>
  <div style="display: grid; justify-content: center; height: 100vh; padding: 100px;">
      <p class="text-xl">Nombre gerente</p>
      <small class="opacity-70">Descripcion</small>   
      <div>
          <div class="field" style="position: relative; width: 840px;">
              <i class="pi pi-info" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); padding: 10px; pointer-events: none; z-index: 10;"></i>
              <input 
                  pInputText 
                  type="text" 
                  style="font-size: 1.2em; padding: 15px 15px 15px 40px; width: 100%; background-color: rgba(255, 255, 255, 0.4); position: relative; z-index: 1;"
              />
          </div>
      </div>
      
      <p class="text-xl">Correo electrónico del gerente</p>
      <small class="opacity-70">Este es el correo del gerente, si tienes alguna PQRS dirigete a este:</small>
      <div>
          <div class="field" style="position: relative; width: 840px;">
              <i class="pi pi-envelope" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); padding: 10px; pointer-events: none; z-index: 10;"></i>
              <input 
                  pInputText 
                  type="email" 
                  style="font-size: 1.2em; padding: 15px 15px 15px 40px; width: 100%; background-color: rgba(255, 255, 255, 0.4); position: relative; z-index: 1;"
              />
          </div>
      </div>
  </div>
</form>
  
